/*adicionando uma cor de fundo para o site*/
main{
    height: calc(100% - 8.6rem);
    width: 100%;
    background-color: var(--color-header);
}

/*estiliza toda a minha tag home*/
.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
    max-height: 90vh;
    max-width: 100vw;
    background-color: var(--color-header);
    background-image: url('../../assets/home/intro/background.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

/*estiliza a minha caixa de texto da home, como o bot"ao e o título*/
.text-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70%;
    background-image: url('../../assets/home/intro/letter\ background.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    text-align: center;
    overflow: hidden;
}

/*estiliza o titulo*/
.text-intro h1{
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: white;
    font-size: 7.5rem;
    line-height: 15.42rem;
    margin-top: 7.2rem;
    margin-bottom: -3rem;
}

/*texto que está abaixo do título*/
.text-intro p.about{
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: white;
    font-size: 1.7rem;
}

/*frase "Entre em um mundo de inovação e criatividade"*/
.text-intro p.motivationalPhrase{
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: white;
    font-size: 1.2rem;
    margin-bottom: 2.4rem;
    margin-top: 8.4rem;
}

/*botâo da home*/
.btn-intro{
    width: 4.9rem;
    width: 15.9rem;
    border-radius: 5rem;
    background-color: white;
    margin: 0;
    padding: 0;
}

.btn-intro p{
    font-family: "Sora", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: var(--text-color);
}

@media screen and (max-width: 480px){
    .intro{
        background-image: url('../../assets/home/intro/Sem\ Título-1.png');
        background-size: cover;
        max-height: 74.2vh;
    }

    .text-intro{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: flex-start;
       background-image: none;
    }

    .text-intro h1{
        font-size: 4.8rem;
        margin-top: 0;
    }

    .text-intro p.about{
        max-width: 329px;
        font-size: 1.3rem;
        margin-bottom: 4.49rem;
    }

    .text-intro p.motivationalPhrase{
        margin-top: 0;
        font-size: 1.2rem;
    }

    .btn-intro{
        width: 12.1rem;
    }
}
