.news{
    width: 100%;
    background-color: var(--news-background);
    display: flex;
    flex-wrap: wrap;
}

.mobile-title,
.mobile-news-subtitle{
    display: none;
}

.news img{
    margin-top: 5.2rem;
    margin-bottom: 8.75rem;
}

.news-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6.4rem;
    flex-wrap: wrap;
}

.news-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 84.8rem;
    text-align: center;
}

.news-content h2{
    font-size: 1.4rem;
    text-align: center;
    margin-top: 1.9rem;
    color: var(--news-text-color);
}

.news-content h3{
    text-align: center;
    font-size: 2.8rem;
    margin-top: 2.4rem;
    color: var(--news-text-color);
    padding-right: 0;
}

.news-content p.super-interesting-font{
    font-weight: 300;
    font-size: 1.6rem;
    color: var(--news-text-color);
    margin-top: 2.2rem;
    align-self: flex-end;
}

.news-content p.news-subtitle{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    margin-top: 1.2rem;
    color: var(--news-text-color);
}

.news-content p{
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: var(--news-text-color);
    text-align: justify;
    margin-top: 3rem;
}

.btn-news{
    background-color: var(--btn-news);
    box-shadow: -1px 1px 5.7px 0px #0000004D;
    border: none;
    width: 16rem;
    height: 4rem;
    border-radius: 10rem;
    margin-top: 4.3rem;
    align-self: center;
    margin-right: 0;
}

.btn-news a{
    font-family: "Inter", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
}

@media screen and (max-width: 480px){
    .news{
        width: 100%;
        background-color: var(--news-background);
        display: flex;
        flex-direction: column;
        padding-right: 0;
    }

    .news-content{
        margin-left: 5rem;
        padding-right: 5rem;
    }

    .mobile-title{
        display: inline-block;
        font-size: 1.4rem;
        text-align: center;
        margin-top: 1.9rem;
        color: var(--news-text-color);
    }

    .default-title{
        display: none;
    }
    
    .news img{
        width: 30.9rem;
        height: 20.6rem;
        margin: auto;
        margin-top: 1.8rem;
    }

    .news-content h3,
    .news-content p.news-subtitle{
        display: none;
    }

    .mobile-news-title{
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        margin-top: 2.4rem;
        margin-bottom: 1.5rem;
        color: var(--news-text-color);
    }

    .mobile-news-subtitle{
        display: inline-block;
        width: 31.6rem;
        height: 2.6rem;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 1.1rem;
        text-align: center;
        margin: auto;
    }

    .news-content p.super-interesting-font{
        font-size: 1rem;
        color: var(--news-text-color);
        margin-top: 2.2rem;
        align-self: flex-start;
    }

    .news-content p{
        display: inline-block;
        font-size: 1.3rem;
        line-height: 1.6rem;
    }

    .btn-news{
        margin-bottom: 2.4rem;
    }
}